# Virtual environment
venv/

# Environment configuration files
.env

# Python compiled files
*.pyc
__pycache__/

# Data files
*.csv
*.log
data/
logs/

# resource and configuration files
*.json

# IDE configurations
.idea/
